/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
    background-color: rgb(0, 0, 0);
    text-align: center;
}


.label {font-size:100%; border-style: solid; border-color:rgb(0, 0, 0); padding: 6px; font-family: 'Anonymous Pro'; text-align: center;}
.green {color: white; background-color: #008c02; width: 300;} /* Green */
.blue {color: white;  background-color: #2196F3;} /* Blue */
.purple {color: white; background-color: #696969;} /* Orange */
.yellow {color: rgb(0, 0, 0); background-color: #ffea00;} /* Red */ 
.ppl {color: rgb(0, 0, 0); background-color: #00fbff; color: black;} /* Gray */ 
.white {color: white; border-style: dashed; background-color: black; border-color:white; }
.black {color: rgb(0, 0, 0); border-style: solid; background-color: black; border-color:rgb(0, 0, 0);}


.roomHead{
    color: rgb(255, 230, 0);
    font-size:100%;
    font-family: 'Anonymous Pro';
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: rgb(255, 230, 0);
}

.door_text{
    color: rgb(85, 255, 0);
    height:50%;
    font-size:100%;
    font-family: 'Anonymous Pro';
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: rgb(85, 255, 0);
}

.items_text{
    color: #2196F3;
    height:50%;
    font-size:100%;
    font-family: 'Anonymous Pro';
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #2196F3;
}


.other_text{
    color: rgb(255, 255, 255);
    font-size:100%;
    font-family: 'Anonymous Pro';
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: rgb(255, 255, 255);
}

.inv_text{
    color: rgb(255, 255, 255);
    font-size:100%;
    font-family: 'Anonymous Pro';
    padding: 6px;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #2196F3;
}



.txt1{
    color: rgb(255, 255, 255);
    font-size:100%;
    font-family: 'Anonymous Pro'
}
.floor{
    color: rgb(255, 230, 0);
    font-size:100%;
    font-family: 'Anonymous Pro'
}



#firstBlock{
    background-color: bisque;
}

#gate1{
    visibility: hidden;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.triangle{
    width: 0;
    height: 0;
}

#triangle1{
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 100px solid red;
}

#triangle2{
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 200px solid blue;
}

#triangle3{
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 300px solid rgb(255, 0, 255);
}

#triangle4{
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 400px solid rgb(165, 183, 28);
}